body {
   font-family: 'Roboto Slab', serif;
    margin: 0;
}

#header {
   background: black;
   display: flex;
   justify-content: space-between;
   position: fixed;
   height: 75px;
   width: 100%;
   z-index: 1;
}

#header-img {
   margin-left: 18px;
}

#nav-bar {
   display: flex;
   align-items: center;
}

#nav-bar .nav-list {
   list-style: none;
}

.nav-link {
   margin-right: 18px;
}

#nav-bar .nav-link {
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 15px;
}

.nav-list {
   display: flex;
}

#nav-bar a:hover {
   color: grey;
}

#nav-bar a::before {
   content: '';
   display: block;
   height: 4px;
   width: 100%;
   background-color: rgb(133, 140, 156);
   position: absolute;
   top: 0;
   width: 0%;
   transition: all ease-in-out 100ms;
}

#nav-bar a:hover::before{
   width: 100%;
}

#nav-bar a:hover {
   color: grey;
}

#sec-1 {
   overflow: hidden;
}

.section {
   height: 795px;
   padding-top: 75px;
}

.home-text-container {
   font-family: Arial;
}

.text-block {
   position: absolute;
   top: 100px;
   right: 40px;
   color: white;
}

#home-img {
   height: 795px;
   width: 100%;
}

#video {
   width: 600px;
}

.product {
   height: 350px;
   width: 32%;
}

.product:last-child {
   padding: 0;
}

.product-container {
   display: flex;
   justify-content: space-around;
}

@media screen and (max-width: 600px) {
   .product-container {
      flex-direction: column;

   }

   .product {
      height: 350px;
      padding: 0;
      width: 100%;
   }
}