body {
   font-family: 'Roboto Slab', serif;
    margin: 0;
}

#header {
   background: black;
   margin-top: 0px;
   position: fixed;
   width: 100%;
}

#header-img {
   float: left;
   padding: px4;
}

#nav-bar {
   float: right;
}

#nav-bar ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

#nav-bar li {
   display: inline-block;
   margin: 0 14px;
   padding-top: 23px;
   position: relative;
}

#nav-bar  a  {
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 15px;
}

#nav-bar a:hover {
   color: grey;
}

#nav-bar a::before {
   content: '';
   display: block;
   height: 4px;
   width: 100%;
   background-color: rgb(133, 140, 156);
   position: absolute;
   top: 0;
   width: 0%;
   transition: all ease-in-out 100ms;
}

#nav-bar a:hover::before{
   width: 100%;
}

#nav-bar a:hover {
   color: grey;
}

#home-img {
   padding-top: 10px;
   width: 1400px;
   height: 720px;
}

#sec-1 {
   margin-top: 0px;
   color: white;
   z-index: 2;
}

#sec-2 {
   margin-top: 0px;
   color: white;
}

#sec-3 {
   margin-top: 0px;
}

#sec-4 {
   margin-top: 0px;
}

#sec-5 {
   margin-top: 900px;
}

/* need to fix media querey to make sreen size for other devices */

@media screen and (max-width: 600px) {
   body {
     background-color:pink;
   }
}


/* #254984 */